* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-orange {
    background-color: orange;
}

.bg-extremePurple {
    background-color: purple;
}


body {
    min-height: 400px;
    margin-bottom: 400px;
    /* clear: both; */
    /* background-image: url(https://images.pexels.com/photos/2341290/pexels-photo-2341290.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); */
}

