* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bg-orange {
    background-color: orange;
}

.bg-extremePurple {
    background-color: purple;
}


body {
    min-height: 400px;
    margin-bottom: 400px;

}

